<div class="member">
  <a href="{{ .url | safeHTML }}"> 
    <div class="member-logo">
      {{ if .logo }}
        <img src="{{ .logo | absURL }}" alt="{{ .organization }} logo image" title="{{ .organization }}"/>
      {{ else }}
        <img src="{{ "images/members/blank.png" | absURL }}" alt="{{ .organization }} logo placeholder" title="{{ .organization }}"/>
      {{ end }}
    </div>
    <h3>{{ .organization }}</h3>
    {{ with .country }}<span class="country">{{ . }}</span>{{ end }}
  </a>
</div>
